body {
  margin: 0;
  font-family: 'Bungee Inline', cursive, sans-serif;
  background-color: black;
  text-align: center;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
